<section class="row">

  <h3>Counter <%= @counter %></h3>

  <br>
  <button 
    style="margin-left: 20px;"
    phx-click="increment"
    phx-value-id="12"
    phx-value-name="counter"
  >
  +
  </button>
</section>

<section class="row">

  <.live_component module={LiveviewAppWeb.SampleLive.CounterLive} id={1} content={@counter} />
</section>